/* Go to Bookmark button */
.button {
    background-color: #9fbfdf;
    font-size: 20px;
    padding: 7px;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
}

/* Main centre column */
.centre-column{
    border: 2px solid black;
    text-align: center;
}

