/* Main card */
nb-card{
    width: 60%;
    height: 30%;
    /* @media only screen and (max-width: $tablet);
    width: 50%;
    height: 30%;
    @media only screen and (max-width: $mobile-large);
    width: 80%;
    height: 20%; */
    background: url('./card-background.jfif') no-repeat center center fixed;
    background-size: cover;
    border: 1px solid black;
    margin: auto;
}

/* Card body */
nb-card-body{
    display: flex;
    justify-content: space-between;
}

/* div containing movie info */
#movie-info{
    margin: auto;
}

/* Add to bookmarks button */
#bookmark{
    border: 1px solid black;
    background-color: #F5A486;
    cursor: pointer;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
